<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ea044b4c-8e8c-4e03-b95f-4893ac87784b" name="Calculator TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ea044b4c-8e8c-4e03-b95f-4893ac87784bfileName">Calculator-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
